node_modules
.temp
.cache

# Numerous always-ignore extensions
*.bak
*.patch
*.diff
*.err
dist/
# temp file for git conflict merging
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.sass-cache
*.tmp.html
*.dump

# OS or Editor folders
.DS_Store
._*

.project
.settings
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace
nbproject
thumbs.db
*.iml
.prettierignore

# Folders to ignore
.hg
.svn
.CVS
.idea
node_modules/
build/*
!src/vendor/pdfJs/build/
