:root {
  scroll-behavior: smooth;
  aside.sidebar {
    &::-webkit-scrollbar {
      background-color: #71cda361;
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #71cda361;
    }
  }
  --content-width: 1000px;
}

* {
  transition: all ease-in-out 0.5s;
}

.hero img {
  border-radius: 50%;
  background: #008d2f21;
}
.home .hero .action-button {
  padding: 0.5rem 1.4rem;
  border-radius: 20px;
  font-size: 1.1rem;
}

html.dark {
  .hero img {
    background: #00ff554d;
  }
}
.line-numbers-mode {
  &::before {
    display: none;
  }
}
@media (max-width: 419px) {
  .theme-default-content {
    code {
      font-size: 0.75em;
    }
    pre.language-javascript {
      line-height: 1.2;
    }
  }
}
