:root {
  scroll-behavior: smooth;
  aside.sidebar {
    &::-webkit-scrollbar {
      background-color: #71cda361;
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #71cda361;
    }
  }
  --content-width: 1000px;
}

// * {
//   transition: all ease-in-out 0.5s;
// }
a,
button {
  transition: all ease-in-out 0.3s 0.05s;
}
.hero img {
  border-radius: 50%;
  background: #008d2f21;
}
.home .hero .action-button {
  padding: 0.5rem 1.4rem;
  border-radius: 20px;
  font-size: 1.1rem;
}

html.dark {
  .hero img {
    background: #00ff554d;
  }
}
.line-numbers-mode {
  &::before {
    display: none;
  }
}

.gradient-test {
  background: linear-gradient(141.83deg, #6e86ff -0.03%, rgba(110, 134, 255, 0) 44.15%),
    radial-gradient(
      120% 119.72% at -12.5% 94.12%,
      #75acff 0,
      #6e86ff 42.19%,
      #b14eff 64.06%,
      #f54cc0 81.77%,
      #ff98a4 100%
    );
  -webkit-background-clip: text;
  color: transparent;
}

@media (max-width: 419px) {
  .theme-default-content {
    code {
      font-size: 0.75em;
    }
    pre.language-javascript {
      line-height: 1.2;
    }
  }
}
